.filter-group{
    margin-right: 10px;
    z-index: 2;
}
.level-0{
    &:last-child{
        // background-color: red;
        .connection-0{
            display: none;
        }
    }
}
.level-1{
    &:last-child{
        // background-color: red;
        .connection-1{
            display: none;
        }
    }
}
.level-2{
    &:last-child{
        // background-color: red;
        .connection-2{
            display: none;
        }
    }
}
.level-3{
    &:last-child{
        // background-color: red;
        .connection-3{
            display: none;
        }
    }
}
.level-4{
    &:last-child{
        // background-color: red;
        .connection-4{
            display: none;
        }
    }
    // &:first-child{
    //     // background-color: red;
    //     .connection-4{
    //         display: block;
    //     }
    // }
}
.connection{
    margin:0;
    position: relative;
    height:calc(100% + 10px);
    right:5px;
    bottom: 10px;
}
