

.background {
  // padding:0;margin:0;
  position: absolute;
  width: 3000px;
  height: 3000px;
  top: -50%;
  left: -50%;
  overflow: hidden;
  background: linear-gradient(225deg,#5ff6bf,#8964e2);
  animation: Animation infinite 20s linear;

}


$fontsize : 20;
.filter-group{
    margin-right: 10px;
    z-index: 2;
}
.level-0{

    &:last-child{
        // background-color: red;
        .connection-0{
            display: none;
        }
    }
}
// .level-1{
//     // &:first-child{
//     //     background: green;
//     // }
//     &:last-child{
//         // background-color: red;
//         .connection-1{
//             display: none;
//         }
//     }
//     &:first-child{
//         .connection-1{
//             display: block;
//             margin-top: -10px;
//         }
//     }
// }
// .level-2{
//     &:last-child{
//         // background-color: red;
//         .connection-2{
//             display: none;
//         }
//     }
//     &:first-child{
//         .connection-2{
//             display: block;
//             margin-top: -10px;
//         }
//     }
// }
// .level-3{
//     &:last-child{
//         // background-color: red;
//         .connection-3{
//             display: none;
//         }
//     }
//     &:first-child{
//         .connection-3{
//             display: block;
//             margin-top: -10px;
//         }
//     }
// }
// .level-4{

//     &:last-child{
//         // background-color: red;
//         .connection-4{
//             display: none;
//             margin-top: 0px;
//         }
//     }
//     &:first-child{
//         .connection-4{
//             display: block;
//             margin-top: -10px;
//         }
//     }
//     &:only-child{
//         .connection-4{
//             display: block;
//             margin-top: -10px;
//             margin-bottom: 10px;
//         }
//     }
// }
.connection{
    margin:0;
    position: relative;
    height:calc(100% - 2px);
    right:5px;
    // bottom: 10px;
}

.azad{
    &:first-child{
        background: green;

    }
}
.font-#{$fontsize} {
    font-size: #{$fontsize}px;
}